<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="Stylesheet" href="/Style.css">  
</head>
<body>
    <h1>The total number of users is <%= count %></h1>    
    <button><a href="http://localhost:8080/user">View all the user records</a></button>
</body>
</html>